#define myfont Office Code Pro
#define myfontsize 11
#define mypadding 20

!============================
! Xft settings
!----------------------------

Xft.dpi: 	96
Xft.antialias:	1
Xft.autohint:	0
Xft.hinting:	1
Xft.rgba:	rgb


!============================
! rofi
!----------------------------

rofi.terminal:		termite
rofi.run-shell-command:	termite -e '{cmd}'
rofi.ssh-command:	tmux split-window -h -p 50 '{ssh-client} {host}'
rofi.location:		0
rofi.width:		25
rofi.padding:		5
rofi.borderwidth:	2
rofi.lines:		10
rofi.opacity:		80
rofi.font:		SFNS 12


!============================
! urxvt
!----------------------------

URxvt*scrollBar:	false
URxvt*depth:		32
URxvt.cursorBlink:	true
URxvt.font: xft:myfont:light:size:myfontsize, xft:FontAwesome:size:myfontsize
URxvt.boldFont: xft:myfont:size:myfontsize
URxvt.italicFont: xft:myfont:italic:size:myfontsize
URxvt.boldItalicFont: xft:myfont:bold:italic:size:myfontsize
URxvt*internalBorder: mypadding
URxvt.letterSpace:	-1

*antialias:		true
*autohint:		true



